<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Job Seeker Dashboard | JobMatch</title>
  <meta name="description" content="JobMatch">
  <link rel="stylesheet" href="css/custom.css">

  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script>
  $(function() {
    $("#sortable").sortable();
    $("#sortable").disableSelection();
  });
  </script>

</head>
<body>
  <div id="wrapper">
    <header>
      <h1 class="headline"><span class="logo">JobMatch</span> | EMPLOYER</h1>
    </header>

    <div id="sidebar">
      <div style="text-align:center;">
        <img src="http://placehold.it/75x75" class="avatar">
        <h2 class="company">Company A</h2>
      </div><br>
      <p><button type="button" class="sidebar-button">+ post a job</button></p><br>
      
      <nav>
        <ul id="sidebar-nav">
          <li><a href="#">Jobs</a></li>
          <li><a href="#">Profile</a></li>
          <li><a href="#">Logout</a></li>
        </ul>
      </nav>
    </div>

    <section id="content">
      <div id="job-post">
        <h2>Post a job</h2><br>
        <p>Required Skills</p>
        <p class="note">Sort the skills from most important (top) to least important (bottom).</p>
        
        <ul  id="sortable" class="sortable-list">
          <li class="skill-culture-item">Java</li>
          <li class="skill-culture-item">Java</li>
          <li class="skill-culture-item">Java</li>
          <li class="skill-culture-item">Java</li>
          <li class="skill-culture-item">Java</li>
        </ul>
      </div>
    </section>

    <div class="clear">&nbsp;</div>

  </div>
</body>
</html>