html, body {
    height: 100%;
}

body {
    background-color: #E4E4E4;
    color: #999999;
    margin: 0;
    min-height: 100%;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 5px;
    font-size: 20px;
}

.logo {
    color: #FF9933 !important;
    font-weight: 700 !important;
}

a {
    color: #FF9933;
    outline: 0;
    text-decoration: none;
}

a:focus, a:hover {
    text-decoration: underline;
}

.site-container {
    padding: 120px 0;
}

.grid-container {
    margin: 0 auto;
    text-align: center;
    width: 90%;
    max-width: 350px;
    background-color: white;
    padding: 40px;
    position: relative;
    border-radius: 10px;
}

.form-field {
    position: relative;
    margin: 0 auto 20px;
    text-align: left;
}

.form-register {
    color: #333333;
}

.form input[type="password"],
.form input[type="text"],
.form input[type="tel"],
.form input[type="email"],
.form input[type="number"] {
    width: 100%;
}

.form input[type="submit"] {
    width: 40%;
}

.form input[type="password"],
.form input[type="text"],
.form input[type="tel"],
.form input[type="email"],
.form input[type="number"] {
    border-radius: 3px;
    padding: 15px;
}

.form-register label {
    padding: 5px;
}

.radio-button {
    display: inline;
    padding-right: 50px;
}

textarea {
    width: 95%;
    height: 100px;
}

.form input[type="password"],
.form input[type="text"],
.form input[type="tel"],
.form input[type="email"],
.form input[type="number"],
.form-register textarea {
    background-color: white;
    border: 1px solid #E4E4E4;
}

.form-login input[type="text"]:focus,
.form-login input[type="text"]:hover,
.form-login input[type="password"]:focus,
.form-login input[type="password"]:hover,
.form-register textarea:focus,
.form-register textarea:hover {
    background-color: white;
    border: 1px solid #D7D7D7;
}

.form input[type=text], textarea {
    font-family: 'Open Sans', sans-serif;
}

.form textarea {
    padding: 15px 0 0 15px;
}

.form-register input[type="text"]#login-first {
    width: 30%;
}

.form-register input[type="text"]#login-last {
    width: 50%;
}

.form-text {
    font-size: 12px;
    display: inline;
    text-align: center;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -70px;
}

.forgot-password {
    width: 50%;
    display: block;
    float: left;
    padding-top: 8px;
    font-size: 12px;
}



.clear {
    clear: both;
}

progress {
    width: 75%;
    height: 14px;
    margin: auto;
    display: block;
    -webkit-appearance: none;
    border: none;
}

progress::-webkit-progress-bar {
    background: #ccc;
    border-radius: 50px;
    padding: 2px;
    box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
}

progress::-webkit-progress-value {
    border-radius: 50px;
    box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
    background:
            -webkit-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
            -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
            -webkit-linear-gradient(left, #FF9933, #FF9933);

    background-size: 25px 14px, 100% 100%, 100% 100%;
}


h3{
    font-family:'Montserrat',sans-serif;
    font-weight:200;
    margin:5px;
    font-size:20px;
}